<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.GroupMapper">

    <!-- Result Map -->
    <resultMap id="groupResultMap" type="com.example.demo.entity.Group">
        <id property="id" column="id" />
        <result property="gid" column="gid" />
        <result property="lines" column="lines" />
    </resultMap>

    <select id="Sel" resultType="com.example.demo.entity.Group">
        select * from user where 1=1
        <if test="group.gid != null">
            AND gid = #{group.gid}
        </if>
    </select>

    <select id="findByGid" resultType="com.example.demo.entity.Group">
        SELECT * FROM  `group` WHERE gid = #{gid}
    </select>


<!--    &lt;!&ndash; SQL to insert a new group &ndash;&gt;-->
<!--    <insert id="insertGroup" parameterType="com.example.demo.entity.Group">-->
<!--        INSERT INTO `group` (`id`, `gid`, `lines`)-->
<!--        VALUES (#{group.id}, #{group.gid}, #{group.lines})-->
<!--    </insert>-->
    <insert id="Add" parameterType="com.example.demo.entity.Group">
        INSERT INTO `group`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="group.gid != null">
                group.gid,
            </if>
            <if test="group.lines != null">
                group.lines,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="group.gid != null">
                #{group.gid,jdbcType=VARCHAR},
            </if>
            <if test="group.lines != null">
                #{group.lines,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="insertGroup" parameterType="com.example.demo.entity.Group">
        INSERT INTO `group` (gid, lines, updated_at)
        VALUES (#{gid}, #{lines}, CURRENT_TIMESTAMP)
    </insert>

    <update id="updateGroup" parameterType="com.example.demo.entity.Group">
        UPDATE `group` SET lines=#{lines} WHERE id=#{id}
    </update>

    <update id="Update" parameterType="com.example.demo.entity.Group">
        UPDATE `group`
        <set>
            <if test="group.lines != null">
                `lines`= #{group.lines},
            </if>
        </set>
        WHERE
        gid=#{group.gid}
    </update>

</mapper>